body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #007acc;
}

h1:hover {
  color: #99002e;
  text-decoration: underline;
}

p {
  font-size: 16px;
}

.flex {
    display:flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}